.markdown {
  line-height: 2rem;
  font-size: 1.1rem;
}

.markdown h1 {
  font-weight: 500;
}

.markdown h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(0, 0, 127);
  border-bottom: 1px solid #00000020;
  padding-bottom: 0.5rem;
  margin: 1rem 0;
}

.markdown h3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 1rem 0;
}

.markdown p {
  margin: 1rem 0;
  color: #4E5968;
}

.markdown strong {
  font-weight: 700;
}

.markdown li {
  list-style: '•';
  margin: 0 1rem;
}

.markdown pre {
  border: 1px solid #00000010;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.markdown code {
  font-family: courier, monospace;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}

.markdown hr {
  border: 1px solid #00000010;
  margin: 1.5rem;
}

.markdown a {
  color: #1971C2;
  font-weight: 500;
}
